body{
    background-color: red;
    color: yellow;
    font-family: "Story Script", sans-serif;
    margin: 0px;
}
header{font-size: 20px;
border: dashed 5px violet
}

h1{font-size: 30px;}

p{font-size: 25px;}