body{
    background-color: purple;
    color: white rgb(205, 123, 8);
    font-family: "Story Script", sans-serif;
    margin: 0px;
}
header{font-size: 40px;
    text-align: center;
border-bottom: dashed 5px red;
/* margin: 30px; */
padding: 30px;
}

h1{font-size: 30px;}

p{font-size: 25px;}

section{
    background-color: gray;
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}