body{
    background-color: red;
    color: yellow rgb(205, 123, 8);
    font-family: "Story Script", sans-serif;
    margin: 0px;
}
header{font-size: 40px;
border-bottom: dashed 5px yellow;
/* margin: 30px; */
padding: 30px;
}

h1{font-size: 30px;}

p{font-size: 25px;}